= stylesheet_link_tag "bootstrap-wysihtml5"
= javascript_include_tag "html_editor"

=render :partial => "currency_help"
=render :partial => "notice_help"


= form_for @main_event do |f|
  -if @main_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@main_event.errors.count, "error")} prohibited this main_event from being saved:"
      %ul
        - @main_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    %label{"for" => "main_event_Currency label($, pts, etc)"}
      Currency label($, pts, etc)
      %a{"data-toggle" => "modal", :href => "#currencyHelpModal"} (?)
    = f.text_field :currency
  .control-group
    %label.control-label Default Calendar View
    .controls
      %label.radio
        = f.radio_button(:default_calendar_view, "agendaDay")
        Day
      %label.radio
        = f.radio_button(:default_calendar_view, "agendaWeek")
        Week
      %label.radio
        = f.radio_button(:default_calendar_view, "month")
        Month
  .control-group
    %label.control-label{"for" => "main_event_Event Notice"}
      Event notice
      %a{"data-toggle" => "modal", :href => "#noticeHelpModal"} (?)
    .controls
      = f.text_field :shifts_notice, class: 'input-xlarg', :style => "width: 800px;", :maxlength => 400
  .field
    = f.label :html
    = f.text_area :html, :style => "width: 800px;", id: "html"
  .actions
    = f.submit 'Save', class: 'btn'
