%p#notice= notice

%p
  %h1
    = @main_event.name
  %br/
  %b Listing events
  %table
    %tr
      %th Title
      %th Starts at
      %th Ends at
      %th All day
      %th Description
      %th
      %th
      %th
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.starts_at
        %td= event.ends_at
        %td= event.all_day
        %td= event.description
        %td= link_to 'Show', main_event_event_path(event.main_event, event)
        %td= link_to 'Edit', edit_main_event_event_path(event)
        %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete
  %br/
  = link_to 'view calendar', main_event_calendar_path(@main_event)
  %br/
  = link_to 'New Event', new_main_event_event_path(@main_event)

= link_to 'Edit', edit_main_event_path(@main_event)
\|
= link_to 'Back', main_events_path
