%p#notice= notice

%p
  %h1
    = @main_event.name
  %br/
  = link_to 'View Calendar', calendar_path(@main_event), :class => "btn"
  = link_to 'New Event', new_main_event_event_path(@main_event), :class => "btn btn-primary"
  %br/
  %br/
  %h3 Calendar events
  %table.table.table-bordered.table-striped
    %tr
      %th Title
      %th Time frame

      %th Description
      %th
      %th
      %th
      %th
    - @events.each do |event|
      %tr
        %td= event.title
        %td= format_event_time_frame(event)
        %td= event.description
        %td= link_to 'Sign up', sign_up_for_event_path(event.id)
        %td= link_to 'Show', main_event_event_path(event.main_event, event)
        %td= link_to 'Edit', edit_main_event_event_path(event)
        %td= link_to 'Destroy', [event.main_event, event], :confirm => 'Are you sure?', :method => :delete
  %br/


= link_to 'Edit', edit_main_event_path(@main_event)
\|
= link_to 'Back', main_events_path
