= render :partial => "main_events/event_header"
%h2 Workers
%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Email
    %th Total Hours
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.email
      /TODO: SLOW
      %td= "#{pluralize(user.event_hours(@main_event)[:hours], 'hour')}, #{pluralize(user.event_hours(@main_event)[:minutes], 'minute')}"
= paginate @users