= render :partial => "main_events/event_header"
%h2 
  Positions filled:
  =@worker_count_summary
%h2 Workers

= link_to "Download Shifts (PDF)", shifts_pdf_path(@main_event, :format => "pdf"), {class: "btn btn-primary", id: "pdf_link"}

%button#copy-emails{:type => "button", class: "btn btn-primary"} Copy emails
#emails
  =@emails
%br
%br
%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Email
    %th Total Hours
    - unless @main_event.currency.blank?
      %th= @main_event.currency
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.email
      /TODO: SLOW
      %td= "#{pluralize(user.event_hours(@main_event)[:hours], 'hour')}, #{pluralize(user.event_hours(@main_event)[:minutes], 'minute')}"
      - unless @main_event.currency.blank?
        %td= user.currency_for(@main_event)
= paginate @users