- unless @user.authentications.empty?
  %p
    %strong You can sign in to this account using:
  .authentications
    - for authentication in @user.authentications
      .well
        = image_tag "#{authentication.provider.downcase}_32.png", :size => "32x32"
        = authentication.provider.titleize
        = link_to "(remove)", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
    .clear
%p
  %strong Add a service to sign in with:
- if @user.authentications.where(:provider => "twitter").empty?
  %a.auth_provider{:href => "/auth/twitter"}
    = image_tag "twitter_connect.png", :size => "180x30",:alt => "Twitter"
  %br
- if @user.authentications.where(:provider => "facebook").empty?
  %a.auth_provider{:href => "/auth/facebook"}
    = image_tag "fb-connect-large.png", :size => "180x30",:alt => "Facebook"
  %br
- if @user.authentications.where(:provider => "google").empty?
  %a.auth_provider{:href => "/auth/google"}
    = image_tag "google_64.png", :size => "64x64",:alt => "Google"

.clear