-if @users_events.present?
  %h3 #{@user.name}'s public shifts
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Title
        %th Time frame
        %th Description
    %tbody
      -@users_events.each do |event|
        %tr
          %td= link_to event.title, main_event_event_path(event.main_event, event)
          %td= format_event_time_frame(event)
          %td= event.description
-else
  %h3 #{@user.name} doesn't have any public shifts