-unless devise_error_messages!.blank?
  .alert.alert-error= devise_error_messages!
.page-header
  %h1 Sign in
.row
  .span4
    .well
      %h3 Create a local login
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        .control-group
          = f.label :email
          = f.text_field :email
        .control-group
          = f.label :name
          = f.text_field :name
        -unless session["omniauth"]
          .control-group
            = f.label :password
            = f.password_field :password
          .control-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation
        %p= f.submit "Sign up", class: 'btn'
  - if !user_signed_in? && !session[:omniauth]
    .span0
      %h2 Or
    .span4
      .well
        %h3 Use an external login
        = render :partial => 'authentications/sign_up', :locals => {:source => "sign_up"}
%p
= render :partial => "devise/shared/links"