= form_for([:main_event, @event], :url => url, html: {class: 'form-horizontal'}) do |f|
  %legend
  %fieldset
    - if @event.errors.any?
      #error_explanation
        %h2
          = pluralize(@event.errors.count, "error")
          prohibited this event from being saved:
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, class: 'input-xlarg'
    .control-group
      = f.label "Number of workers", class: 'control-label'
      .controls
        = f.number_field :num_users, :in => 0..20
        %p.help-block 20 max
    .control-group
      = f.label :starts_at, class: 'control-label'
      .controls
        %input#starts_at{:name => "starts_at", :type => "text", :value => ""}/
    .control-group
      = f.label :ends_at, class: 'control-label'
      .controls
        %input#ends_at{:name => "ends_at", :type => "text", :value => ""}/
    .control-group
      = f.label :all_day, class: 'control-label'
      .controls
        = f.check_box :all_day
      .help-block (Times will be irrelevant and events will show at the top of the calendar in the all day section)
    .field
      = f.label "Description(HTML)"
      = f.text_area :description, :style => "width: 920px;"
    .actions
      %br
      = f.submit "Save", class: 'btn btn-primary'
