= render :partial => "main_events/event_header"
-if can? :update, @main_event
  = link_to 'Add Shift', new_main_event_event_path(@main_event), :class => "btn btn-primary"
%h3 Calendar Shifts
= paginate @events
%table.table.table-bordered.table-striped#shifts
  %tr
    %th Title
    %th Time frame

    %th Sign up/Full
    -if can? :update, @main_event
      -unless @main_event.currency.blank?
        %th= @main_event.currency
      %th
      %th
  - @events.each do |event|
    %tr
      %td= link_to event.title, main_event_event_path(event.main_event, event)
      %td= format_event_time_frame(event)
      %td
        -if current_user && current_user.registered_for?(event)
          = link_to "Unregister", unregister_from_event_path(event.id)
        -elsif difference(event.num_users, event.users.count) != 0
          = link_to "Sign up", sign_up_for_event_path(event.id)
        -if can? :update, event
          \/
          =link_to "Edit workers", workers_for_shift_path(event.id)
        ="(#{event.users.count}/#{event.num_users})"
      -if can? :update, event
        -unless @main_event.currency.blank?
          %td= event.currency_rate
        %td= link_to 'Edit', edit_main_event_event_path(@main_event, event)
        %td= link_to 'Destroy', [event.main_event, event], :confirm => 'Are you sure?', :method => :delete
= paginate @events