= render :partial => "main_events/event_header"
-if can? :update, @main_event
  = link_to 'Add Event', new_main_event_event_path(@main_event), :class => "btn btn-primary"
%h3 Calendar events
%table.table.table-bordered.table-striped
  %tr
    %th Title
    %th Time frame

    %th Description
    %th Sign up/Full
    -if can? :update, @main_event
      %th
      %th
  - @events.each do |event|
    %tr
      %td= link_to event.title, main_event_event_path(event.main_event, event)
      %td= format_event_time_frame(event)
      %td= event.description
      -if current_user && current_user.registered_for?(event)
        %td= link_to 'Unregister', unregister_from_event_path(event.id)
      -elsif difference(event.num_users, event.users.count) == 0
        %td= 'Full'
      -else
        %td= link_to 'Sign up', sign_up_for_event_path(event.id)
      -if can? :update, event
        %td= link_to 'Edit', edit_main_event_event_path(@main_event, event)
        %td= link_to 'Destroy', [event.main_event, event], :confirm => 'Are you sure?', :method => :delete