%p#notice= notice
%p
  %b Title:
  = @event.title
%p
  %b Starts at:
  = @event.starts_at
%p
  %b Ends at:
  = @event.ends_at
%p
  %b All day:
  = @event.all_day
%p
  %b Description:
  = @event.description
= link_to 'Edit', edit_main_event_event_path(@event.main_event, @event)
|
\#{link_to 'Back', main_event_path(@event.main_event)}