= render :partial => "main_events/event_header"
%p#notice= notice
= link_to 'Edit', edit_main_event_event_path(@event.main_event, @event), :class => 'btn btn-primary' if can? :update, @event
%div.well
  %h2= @event.title
  -if @event.all_day
    %b All day-
    %b= @event.starts_at.strftime("%a, %b %d, %Y")
  -else
    %b= @event.starts_at.to_s + "-" + @event.ends_at.to_s
  %p
    %b Workers:
    -@event.users.each_with_index do |user, i|
      =link_to user.name, user
      = ", " unless @event.users.length - 1 == i
  %p
    =raw(@event.description)