= link_to 'Edit', edit_main_event_event_path(@event.main_event, @event), :class => 'btn btn-primary' if can? :update, @event

%p#notice= notice
%p
  %b Title:
  = @event.title
%p
  %b Starts at:
  = @event.starts_at
%p
  %b Ends at:
  = @event.ends_at
%p
  %b All day:
  = @event.all_day
%p
  %b Description:
  = @event.description
%p
  %b Workers:
  -@event.users.each do |user|
    =link_to user.name, user
    ,