= render :partial => "main_events/event_header"
= link_to 'Edit', edit_main_event_event_path(@event.main_event, @event), :class => 'btn btn-primary' if can? :update, @event
%div.well
  %h2= @event.title
  -if @event.currency_rate.present? && @event.currency_rate > 0
    %b= "#{@event.main_event.currency}/hr:"
    = @event.currency_rate
    %br
  -if @event.all_day
    %b All day-
    %b= @event.starts_at.strftime("%a, %b %d, %Y")
  -else
    %b= @event.starts_at.strftime("%I:%M%p %m/%d/%Y") + " - " + @event.ends_at.strftime("%I:%M%p %m/%d/%Y")
  %p
    %b Workers:
    -if !(current_user && current_user.registered_for?(@event)) && @event.needs_workers?
      =link_to '(Sign up)', sign_up_for_event_path(@event.id)
    -@event.users.each_with_index do |user, i|
      =link_to user.name, user
      = ", " unless @event.users.length - 1 == i
  %p
    =raw(@event.description)